<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/templating::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragment/templating::navbar}"></div>
<main class="container min-vh-100">
    <h1>Les formations</h1>

    <div th:if="${successMessage != null}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success">
            <strong class="me-auto">Bravo</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" th:text="${successMessage}">
        </div>
    </div>

    <table class="table striped">
        <thead>
        <tr>
            <th class="text-center">Nom de la formation</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="uneFormation : ${formations}">
                <td class="text-center" th:text="${uneFormation.nom}"></td>
                <td>
                    <a class="btn">Consulter</a>
                    <a class="btn">Modifier</a>
                    <form>
                        <input type="hidden" name="id" th:value="${uneFormation.id}">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</main>
<div th:replace="~{fragment/templating::foot}"></div>
</body>
</html>