<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/templating::head}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:replace="~{fragment/templating::navbar}"></div>
<main class="container min-vh-100">
  <h1>Formulaire d'ajout d'une session</h1>
  <form th:action="@{/admin/session}" method="post" th:object="${sessionDTO}">
    <div>
      <label class="form-label" for="inputNom">Nom</label>
      <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="alert alert-danger"></div>
      <input class="form-control" id="inputNom" name="nom" th:field="*{nom}" type="text">
    </div>
      <div>
        <label>Formation</label>
        <select name="formation" th:field="*{formation}" id="selectFormation">
          <option disabled selected value="">Choisir une formation</option>
          <option th:value="${uneFormation.id}" th:each="uneFormation:${formations}" th:text="${uneFormation.nom}"></option>
        </select>
      </div>
    <button class="btn btn-primary">Ajouter</button>
  </form>
</main>
<div th:replace="~{fragment/templating::foot}"></div>
</body>
</html>