<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/templating::head}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:replace="~{fragment/templating::navbar}"></div>
<main class="container min-vh-100">
  <h1>Les sessions</h1>
  <a th:href="@{/admin/session/create}" class="btn btn-success">Ajouter</a>
  <table class="table">
    <thead>
    <th>Nom</th>
    <th>Formation</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr th:each="uneSession : ${sessions}">
      <th th:text="${uneSession.nom}"></th>
      <th th:text="${uneSession.formation.nom}"></th>
      <th>
        <a th:href="@{'/admin/session/'+${uneSession.id}}" class="btn btn-primary">Consulter</a>
        <a th:href="@{'/admin/session/'+${uneSession.id}+'/edit'}" class="btn btn-warning">Modification</a>
        <form th:action="@{/admin/session/delete}" method="post">
          <input type="hidden" name="id" th:value="${uneSession.id}">
          <button class="btn btn-danger">X</button>
        </form>
      </th>
    </tr>
    </tbody>
  </table>
</main>
<div th:replace="~{fragment/templating::foot}"></div>
</body>
</html>