<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/templating::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragment/templating::navbar}"></div>
<main class="container min-vh-100">
    <h1 th:text="${uneSession.nom}"></h1>
    <p>
        Formation : <span th:text="${uneSession.formation.nom}"></span>
    </p>

</main>
<div th:replace="~{fragment/templating::foot}"></div>
</body>
</html>